/*-----------------------------------*\
	BLOCKS COLOR PALETTE
\*-----------------------------------*/
.has-white-background-color {
	background-color: #ffffff;
}

.has-white-color {
	color: #ffffff;
}

.has-light-gray-background-color {
	background-color: #eeeeee;
}

.has-light-gray-color {
	color: #eeeeee;
}

.has-gray-background-color {
	background-color: #a8a8a8;
}

.has-gray-color {
	color: #a8a8a8;
}

.has-dark-gray-background-color {
	background-color: #474747;
}

.has-dark-gray-color {
	color: #474747;
}

.has-black-background-color {
	background-color: #222222;
}

.has-black-color {
	color: #222222;
}

.has-orange-background-color {
	background-color: #f2541d;
}

.has-orange-color {
	color: #f2541d;
}

.has-blue-background-color {
	background-color: #3fa1f8;
}

.has-blue-color {
	color: #3fa1f8;
}

.has-dark-blue-background-color {
	background-color: #021844;
}

.has-dark-blue-color {
	color: #021844;
}

/*-----------------------------------*\
	MEDIA + TEXT
\*-----------------------------------*/
.wp-block-media-text {
	margin: 6em auto 4em auto;
	grid-template-areas: "media-text-media""media-text-content";
	grid-template-columns: 100%;

	&.has-media-on-the-right {
		grid-template-areas: "media-text-conten""media-text-media";
	}

	@media(--800vp) {
		grid-template-areas: "media-text-media media-text-content";
		grid-template-columns: 50% auto;

		&.has-media-on-the-right {
			grid-template-areas: "media-text-content media-text-media";
		}
	}

	&.alignwide {
		max-width: 1024px;
	}

	&.alignfull {
		max-width: 100%;
	}

	& .wp-block-media-text__content {
		grid-area: media-text-content;
	}

	& figure.wp-block-media-text__media {
		grid-area: media-text-media;
		position: relative;

		&::after {
			position: absolute;
			right: 0;
			bottom: 0;
			z-index: 1;
			display: block;
			min-width: 60px;
			max-width: 200px;
			width: 40%;
			height: 100%;
			background-image: url(../images/overlay_pixels_1.svg);
			background-position: 100% 100%;
			background-size: contain;
			background-repeat: no-repeat;
			content: '';
		}
	}
}

/*-----------------------------------*\
	ACF BLOCKS
\*-----------------------------------*/