/*----------------------------------------------------------------*\
		BUTTONS
\*----------------------------------------------------------------*/

button,
.button,
.wp-block-button__link {
	border-radius: 0;
	margin: 0.5em 1em;
	padding: 0.5em 1.5em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1rem;
	cursor: pointer;
	letter-spacing: 1px;
	font-family: 'Work Sans Semibold', sans-serif;
	transition: all 0.15s linear;

	&:not(.has-text-color) {
		color: var(--White);
	}

	&:not(.has-background) {
		background: var(--Orange);

		&:hover,
		&:focus {
			background: var(--OrangeDark);
		}
	}

	&.has-orange-background-color:hover,
	&.has-orange-background-color:focus {
		background: var(--OrangeDark);
	}

	&.has-blue-background-color:hover,
	&.has-blue-background-color:focus {
		background: var(--Blue);
	}
}

.is-style-outline .wp-block-button__link {
	border-color: var(--BlueLight);
	border-radius: 0;
	background: transparent;
	color: var(--BlueLight);

	&:hover,
	&:focus {
		border-color: var(--Blue);
		background: var(--Blue);
		color: var(--White);
	}
}

.wp-block-button__link.has-black-color:active,
.wp-block-button__link.has-black-color:focus,
.wp-block-button__link.has-black-color:hover {
	color: var(--White);
}

.wp-block-button__link.has-white-color:active,
.wp-block-button__link.has-white-color:focus,
.wp-block-button__link.has-white-color:hover {
	color: var(--White);
}

.wp-block-button {
	margin: 0 auto;
	color: initial;

	&.alignleft .wp-block-button__link {
		float: left;
		margin: 0.5em 1em 0.5em 0;
	}

	&.alignright .wp-block-button__link {
		float: right;
		margin: 0.5em 0 0.5em 1em;
	}

	&.aligncenter .wp-block-button__link {
		display: inline-block;
		margin: 1em auto;
	}
}