/*----------------------------------------------------------------*\
		FORMS
\*----------------------------------------------------------------*/

form {
	margin: 0 auto;
	max-width: var(--SmallWidth);
	width: 100%;

	& button,
	& .button {
		margin: 1em 0 0 0;
		border: none;
	}

	& ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	& li {
		display: inline-block;
		float: left;
		margin: 0.875em auto;
		padding: 0;
		width: 100%;
		background-image: none;
		line-height: 1.5;

		&.hidden_label {
			&>label {
				display: none;
			}
		}

		&.are-stacked li {
			display: block;
			float: none;
		}

		&.half {
			margin-right: 0;
			margin-left: 0;
			width: 100%;

			@media(--800vp) {
				margin-right: 1%;
				width: 49%;

				&.last {
					margin-right: 0;
					margin-left: 1%;
				}
			}
		}

		&.third {
			margin-right: 0;
			margin-left: 0;
			width: 100%;

			@media(--800vp) {
				margin-right: 0.5%;
				margin-left: 0.5%;
				width: 32.33%;

				&.first {
					margin-right: 1%;
					margin-left: 0;
				}

				&.last {
					margin-right: 0;
					margin-left: 1%;
				}
			}
		}
	}
}

.validation_message {
	display: none;
}

.gfield_visibility_hidden {
	overflow: hidden;
	margin: 0;
	max-height: 0;
}

.gform_footer {
	clear: both;
}

/*---------------------------------------*\
    LABELS
\*---------------------------------------*/

label {
	position: relative;
	display: inline-block;
	padding: 0;
	color: var(--BlueDark);
	font-size: 0.875em;
	font-family: 'Work Sans Semibold', sans-serif;

	&.gfield_label::before {
		position: absolute;
		top: 50%;
		left: calc(100% + 6px);
		content: '(optional)';
		font-size: 0.65em;
		font-family: inherit;
		transform: translateY(-50%);
	}
}

input[type=text]+label,
select+label,
textarea+label {
	margin: 0;
}

li.gfield_contains_required {

	&>label::before,
	& .gfield_required {
		display: none;
	}
}

.ginput_container label,
.charleft,
input[type='file']+span {
	&::before {
		display: none;
	}
}

.ginput_counter,
.screen-reader-text {
	font-size: 12px;
}

/*---------------------------------------*\
    INPUTS
\*---------------------------------------*/

input {
	padding: 0.875em 0.5em;
	width: 100%;
	border: 1px solid var(--GreyDark);
	background-position: center right 1em;
	background-size: 1.25em;
	background-repeat: no-repeat;
	font-size: 1rem;
	font-family: 'Work Sans', sans-serif;

	&:focus {
		outline: none;
		border-color: var(--BlueLight);
		box-shadow: inset 0 0 0 1px var(--BlueLight);
	}

	&.is-activated,
	&.LV_valid_field {
		background-image: url(../images/checkmark.svg);
	}

	&.LV_invalid_field {
		border-color: #fa2f48;
		background-image: url(../images/input_error.svg);
		box-shadow: inset 0 0 0 1px #fa2f48;
	}
}

/*---------------------------------------*\ 
FILE UPLOAD 
\*---------------------------------------*/

input[type='file'] {
	padding-left: 0;
	border: none;
	color: transparent;
}

input[type='file']::-webkit-file-upload-button {
	visibility: hidden;
}

input[type='file']::before {
	display: inline-block;
	padding: 0.75em 1.25em;
	outline: 0;
	border: 1px solid var(--GreyDark);
	border-radius: 50px;
	background-color: transparent;
	color: var(--GreyDark);
	content: 'Upload File';
	white-space: nowrap;
	font-style: normal;
	font-size: 14px;
	font-family: 'Work Sans', sans-serif;
	cursor: pointer;
	cursor: pointer;

	-webkit-user-select: none;
}

input[type='file'].file-uploaded::before {
	border-color: var(--Black);
	background-color: var(--Black);
	color: var(--White);
	content: 'Change File';
}

/*---------------------------------------*\
    RADIO / CHECKBOXES
\*---------------------------------------*/

input[type='radio'] {
	margin: 0 0.5em 0 0.5em;
	padding: 0;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	vertical-align: sub;
	cursor: pointer;

	appearance: none;

	&:checked {
		border-color: var(--BlueLight);
		background-color: var(--BlueLight);
	}

	&+label {
		display: inline-block;
		margin: 0;
		color: var(--Grey);
		font-weight: normal;
		font-size: 1rem;
		font-family: Work Sans, sans-serif;
		cursor: pointer;

		&::before {
			display: none;
		}
	}
}

input[type='checkbox'] {
	margin: 0 0.35em 0 0.5em;
	padding: 0;
	width: 18px;
	height: 18px;
	vertical-align: sub;
	cursor: pointer;

	appearance: none;

	&:checked {
		border-color: var(--BlueLight);
		background-color: var(--BlueLight);

		&+label::after {
			position: absolute;
			top: 5px;
			left: -1.55em;
			display: block;
			width: 0.75em;
			height: 0.75em;
			background-image: url(../images/checkmark-white.svg);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			content: '';
		}
	}

	&+label {
		position: relative;
		display: inline-block;
		margin: 0;
		color: var(--Grey);
		font-weight: normal;
		font-size: 1rem;
		font-family: Work Sans, sans-serif;
		cursor: pointer;


		&::before {
			display: none;
		}
	}
}

.gfield_checkbox li,
.ginput_container_radio li {
	margin: 0 2em 0.5em 0;
	width: auto;
}

/*---------------------------------------*\
    SELECT
\*---------------------------------------*/

select {
	padding: 0.875em 0.5em;
	padding-right: calc(0.5em + 20px);
	width: 100%;
	border: 1px solid var(--GreyDark);
	background-image: url(../images/select_arrow.svg);
	background-position: center right 0.5em;
	background-size: 1.25em;
	background-repeat: no-repeat;
	font-size: 1rem;
	font-family: 'Work Sans', sans-serif;

	appearance: none;

	&:focus {
		outline: none;
		border-color: var(--BlueLight);
		box-shadow: inset 0 0 0 1px var(--BlueLight);
	}

	&.is-activated,
	&.LV_valid_field {
		background-image: url(../images/checkmark.svg);
	}

	&.LV_invalid_field {
		border-color: #fa2f48;
		background-image: url(../images/input_error.svg);
		box-shadow: inset 0 0 0 1px #fa2f48;
	}
}

/*---------------------------------------*\
    TEXTAREA
\*---------------------------------------*/

textarea {
	padding: 0.875em 0.5em;
	width: 100%;
	border: 1px solid var(--GreyDark);
	background-position: center right 1em;
	background-size: 1.25em;
	background-repeat: no-repeat;
	font-size: 1rem;
	font-family: 'Work Sans', sans-serif;

	&:focus {
		outline: none;
		border-color: var(--BlueLight);
		box-shadow: inset 0 0 0 1px var(--BlueLight);
	}

	&.small {
		height: 100px;
	}

	&.is-activated,
	&.LV_valid_field {
		background-image: url(../images/checkmark.svg);
	}

	&.LV_invalid_field {
		border-color: #fa2f48;
		background-image: url(../images/input_error.svg);
		box-shadow: inset 0 0 0 1px #fa2f48;
	}
}

/*---------------------------------------*\
    NAME
\*---------------------------------------*/

.ginput_container_name {
	display: flex;
	flex-wrap: wrap;

	&>span {
		margin-right: 0;
		margin-left: 0;
		width: 100%;

		@media(--800vp) {
			margin-right: 1%;
			width: 49%;

			&.name_last {
				margin-right: 0;
				margin-left: 1%;
			}
		}
	}
}

/*---------------------------------------*\
    ADDRESS
\*---------------------------------------*/

.ginput_container_address {
	display: flex;
	flex-wrap: wrap;

	& .address_line_1,
	& .address_line_2 {
		width: 100%;
	}

	& .address_city,
	& .address_state,
	& .address_zip {
		margin-right: 0;
		margin-left: 0;
		width: 100%;
	}

	@media(--800vp) {

		& .address_city,
		& .address_state,
		& .address_zip {
			margin: 0 0.5%;
			width: 32.33%;
		}

		& .address_city {
			margin-right: 1%;
			margin-left: 0;
		}

		& .address_zip {
			margin-right: 0;
			margin-left: 1%;
		}
	}
}

/*---------------------------------------*\
    TIME
\*---------------------------------------*/

.clear-multi::after {
	display: block;
	clear: both;
	content: '';
}

.gfield_time_hour {
	float: left;
	margin-right: 0.5em;
	width: calc(33% - 0.5em);

	& i {
		display: none;
	}
}

.gfield_time_minute {
	float: left;
	margin-right: 0.5em;
	width: calc(33% - 0.5em);
}

.gfield_time_ampm {
	float: left;
	width: 33%;
}

/*---------------------------------------*\
    DATEPICKER
\*---------------------------------------*/

#ui-datepicker-div {
	display: none;
	padding: 20px;
	width: 300px;
	border: 1px solid #dddddd;
	border-radius: 4px;
	background: #ffffff;
	box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.75);

	& .ui-icon {
		color: transparent;
		font-size: 0;
		cursor: pointer;
	}

	& .ui-icon:before {
		color: var(--Primary);
		font-size: 18px;
	}

	& .ui-datepicker-prev {
		float: left;
		width: 10%;
		line-height: 30px;

		& .ui-icon:before {
			content: '<';
		}

		&.ui-state-disabled {
			display: none;
		}
	}

	& .ui-datepicker-next {
		float: right;
		width: 10%;
		line-height: 30px;

		& .ui-icon:before {
			float: right;
			content: '>';
		}

		&.ui-state-disabled {
			display: none;
		}
	}

	& .ui-datepicker-title {
		display: flex;

		& select {
			margin: 0 1px 10px 1px;
			padding: 2px;
			width: 100%;
		}
	}

	& .ui-datepicker-today {
		border-radius: 4px;
		background-color: var(--Primary);

		& a {
			color: #ffffff;
		}
	}

	& table {
		width: 100%;

		& td,
		& th {
			text-align: center;
		}

		& td {
			& a {
				display: block;
				padding: 5px;
			}
		}
	}
}

/*---------------------------------------*\
    PAYMENT
\*---------------------------------------*/

.gfield.credit-card>label {
	position: initial;
}

.ginput_container_creditcard {

	& input.is-activated,
	& input.LV_valid_field {
		background-image: none;
	}

	& .gform_card_icon_container {
		display: flex;
		flex-wrap: wrap;

		& .gform_card_icon {
			overflow: hidden;
			margin: 0 0.5rem 0 0;
			width: 35px;
			height: 35px;
			background-position: center center;
			background-size: 1.5rem;
			background-repeat: no-repeat;
			text-indent: -100000px;
		}

		& .gform_card_icon_amex {
			background-image: url('../images/CC-american-express.svg');
		}

		& .gform_card_icon_discover {
			background-image: url('../images/CC-discover.svg');
		}

		& .gform_card_icon_mastercard {
			background-image: url('../images/CC-mastercard.svg');
		}

		& .gform_card_icon_visa {
			background-image: url('../images/CC-visa.svg');
		}

		& .gform_card_icon_jcb {
			background-image: url('../images/CC-jcb.svg');
		}
	}

	& .ginput_cardextras {
		display: flex;
		flex-wrap: wrap;
	}

	& .ginput_cardinfo_left {
		width: 66%;

		& .ginput_card_field {
			display: flex;
			flex-wrap: wrap;

			& select {
				margin: 0 1em 0 0;
				width: calc(50% - 1em);
			}

			& label {
				width: 100%;
			}
		}
	}

	& .ginput_cardinfo_right {
		display: flex;
		flex-wrap: wrap;
		width: 33%;

		& input {
			margin: 0 1em 0 0;
			width: calc(100% - 1em);
		}

		& span {
			display: none;
		}

		& label {
			width: 100%;
		}
	}
}