/*-----------------------------------*\
	IMAGES
\*-----------------------------------*/
.wp-block-image {
  margin: 1em auto;
  max-width: 800px;
  width: 90%;

  &.alignwide {
    margin: 4em auto;
    max-width: 1024px;
  }

  &.alignfull {
    margin: 4em auto;
    max-width: 100%;
    width: 100%;
  }

  & img {
    display: block;
    margin: 0 auto;
  }
}

.wp-block-image {
  & .alignleft {
    display: block;
    float: none;
    margin-right: auto;
    margin-left: auto;
    width: 90%;

    @media(--500vp) {
      float: left;
      margin-right: 1em;
      width: auto;
    }
  }

  & .alignright {
    display: block;
    float: none;
    margin-right: auto;
    margin-left: auto;
    width: 90%;

    @media(--500vp) {
      float: right;
      margin-left: 1em;
      width: auto;
    }
  }
}

/*-----------------------------------*\
	IMAGE COVERS
\*-----------------------------------*/
.wp-block-cover-image,
.wp-block-cover {
  margin: 4em auto;
  margin-right: auto;
  margin-left: auto;


  &.alignleft,
  &.alignright,
  &.aligncenter {
    max-width: 800px;
  }

  &.alignwide {
    max-width: 1024px;
    height: 60vh;
  }

  &.alignfull {
    max-width: 100%;
    width: 100%;
    height: 60vh;
  }

  & p {
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'IBM Plex Sans Bold', sans-serif;
    line-height: 100%;
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: block;
    min-width: 60px;
    max-width: 200px;
    width: 20%;
    height: 1 00%;
    background-image: url(../images/overlay_pixels_1.svg);
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
  }
}

/*-----------------------------------*\
	GALLERY
\*-----------------------------------*/
ul.wp-block-gallery {
  margin: 4rem auto;

  &.alignleft,
  &.alignright,
  &.aligncenter {
    max-width: 800px;
    width: 90%;
  }

  &.alignwide {
    max-width: 1024px;
    width: 100%;
  }

  &.alignfull {
    max-width: 100%;
    width: 100%;
  }

  & li {
    padding: 0;
    background-image: none;
  }
}
