/*-----------------------------------*\
	QUOTES
\*-----------------------------------*/
blockquote,
.wp-block-quote,
.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
	margin: 4rem auto;
	max-width: 650px;
	width: 80%;
	border-color: var(--BlueLight);
	color: var(--BlueLight);
	font-size: 1.625rem;
	line-height: 1.5;

	& p {
		margin: 0;
	}

	& cite {
		margin: 0;
		color: var(--Grey);
		font-size: 1rem;
	}
}

.wp-block-pullquote {
	margin: 4rem auto;
	padding: 2rem 1rem;
	max-width: 650px;
	width: 80%;
	font-size: 1.3em;
	line-height: 1.5;

	&.alignleft,
	&.alignright,
	&.aligncenter {
		max-width: 650px;
	}

	&.alignwide {
		max-width: 1024px;
	}

	&.alignfull {
		padding: 4rem 2rem;
		max-width: 100%;
		width: 100%;
		border: none;
		background-color: var(--Grey);
	}

	& blockquote {
		margin: 0 auto;
		padding: 0;

		& p {
			margin: 0;
			font-size: inherit;
		}

		& cite {
			margin: 0;
			color: var(--Grey);
			font-size: 1rem;
		}
	}
}