/*-----------------------------------*\
	FONT FAMILIES
\*-----------------------------------*/

@font-face {
	font-family: 'Work Sans';
	src: url('../fonts/WorkSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Work Sans Semibold';
	src: url('../fonts/WorkSans-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Work Sans Bold';
	src: url('../fonts/WorkSans-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'IBM Plex Sans';
	src: url('../fonts/IBMPlexSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'IBM Plex Sans Semibold';
	src: url('../fonts/IBMPlexSans-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'IBM Plex Sans Bold';
	src: url('../fonts/IBMPlexSans-Bold.ttf') format('truetype');
}

/*-----------------------------------*\
	FONT SIZE PALETTE
\*-----------------------------------*/
.has-xs-font-size {
	font-size: 14px;
}

.has-small-font-size {
	font-size: 16px;
}

.has-medium-font-size {
	font-size: 18px;
}

.has-large-font-size {
	font-size: 24px;
}

.has-xl-font-size {
	font-size: 32px;
}

/*-----------------------------------*\
	HEADER
\*-----------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1em;
	margin-bottom: 0.5em;
	text-transform: uppercase;
	font-family: 'IBM Plex Sans Bold', sans-serif;
	line-height: 100%;
}

h1 {
	font-size: 2.25rem;

	@media(--500vp) {
		font-size: 4.5rem;
	}
}

h2 {
	font-size: 3.125rem;

	@media(--500vp) {
		font-size: 2.125rem;
	}
}

h3 {
	color: var(--BlueLight);
	font-size: 1.875rem;
}

h4 {
	font-size: 1.25rem;
}

h5 {
	font-size: 1.125rem;
}

h6 {
	font-size: 1.125rem;
	font-family: 'IBM Plex Sans Semibold', sans-serif;
}

/*-----------------------------------*\
	PARAGRAPH
\*-----------------------------------*/
p {
	&.has-drop-cap:not(:focus)::first-letter {
		font-size: 6em;
	}

	& a {
		padding: 4px 6px;
		background-color: var(--Orange);
		color: var(--White);
		text-decoration: none;
		letter-spacing: 1px;
		font-weight: bold;
		transition: all 0.25s linear;

		&:hover,
		&:focus {
			background-color: var(--OrangeDark);
			color: var(--White);
		}
	}
}

/*-----------------------------------*\
	LIST
\*-----------------------------------*/
ol,
ul {
	&.has-2-columns {
		column-count: 1;

		@media(--500vp) {
			column-count: 2;

			& li {
				padding-right: 1em;
			}
		}
	}

	&.has-3-columns {
		column-count: 1;

		@media(--500vp) {
			margin: 4em auto;
			max-width: 1024px;
			column-count: 3;

			& li {
				padding-right: 1em;
			}
		}
	}

	&.has-4-columns {
		column-count: 1;

		@media(--500vp) {
			column-count: 2;

			& li {
				padding-right: 1em;
			}
		}

		@media(--800vp) {
			margin: 4em auto;
			max-width: 1024px;
			column-count: 4;
		}
	}
}

ul {
	padding: 0 0 0 1em;
	list-style: none;

	& li {
		margin-bottom: 0.5em;
		padding-left: 2em;
		background-image: url(../images/SubtoPaul_Icons_Bullet.svg);
		background-position: top 6px left;
		background-size: auto 1em;
		background-repeat: no-repeat;
	}
}

ol {
	padding: 0 0 0 1em;
	counter-reset: listNumbering;

	& li {
		display: flex;
		margin-bottom: 0.5em;
		padding-left: 0;
		background-image: none;
		counter-increment: listNumbering;

		&:before {
			position: relative;
			display: inline-block;
			margin-right: 20px;
			color: var(--BlueLight);
			content: counter(listNumbering);
			font-weight: bold;
			font-size: 1em;
			font-family: 'IBM Plex Sans Bold', sans-serif;
		}
	}
}

/*-----------------------------------*\
	HORIZONTAL RULE
\*-----------------------------------*/
hr,
.wp-block-separator {
	margin: 50px auto;
	max-width: 300px !important;
	height: 24px;
	border: none;
	background-image: url(../images/SubtoPaul_Icons_HorizontalRule.svg);
	background-position: center;
	background-size: auto 100%;
	background-repeat: no-repeat;
	opacity: 0.5;

	&.is-style-wide {
		margin: 6em auto;
		max-width: 1024px;
	}

	&.is-style-dots::before {
		color: var(--BlueLight);
		content: '■■■';
		letter-spacing: 1em;
		font-weight: bold;
		font-size: 40px;
	}
}

/*-----------------------------------*\
	TABLE
\*-----------------------------------*/
table,
.wp-block-table {
	margin: 2rem auto;

	&.alignleft,
	&.alignright,
	&.aligncenter {
		max-width: 800px;
		width: 100%;
	}

	&.alignwide {
		width: 1024px;
	}

	&.alignfull {
		max-width: 90%;
	}
}