/*-----------------------------------*\
	POST HEADER
\*-----------------------------------*/
header.post-head {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 100px 5vw 40px;
	background-color: var(--BlueDark);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;

	@media(--500vp) {
		padding: 180px 5vw 80px 5vw;
	}

	&>div {
		width: 800px;
		position: relative;
		z-index: 2;

		&>* {
			max-width: 600px !important;
		}
	}

	& h1 {
		margin: 0;
		color: var(--White);
	}

	& hr {
		height: 5px;
		background-color: var(--BlueLight);
		margin: 20px 0 20px;
		width: 100%;
		opacity: 1;

		@media(--500vp) {
			margin: 20px 0 80px;
		}
	}

	&.has-background-image {

		&::before,
		&::after {
			position: absolute;
			bottom: 0;
			z-index: 1;
			display: block;
			max-width: 300px;
			width: 20vw;
			height: 20vw;
			max-height: 300px;
			background-image: url(../images/overlay_pixels_1.svg);
			background-position: bottom center;
			background-size: contain;
			background-repeat: no-repeat;
			content: '';
		}

		&::before {
			background-image: url(../images/overlay_pixels_1.svg);
			left: 0;
			min-width: 150px;
			min-height: 150px;
		}

		&::after {
			background-image: url(../images/overlay_pixels_2.svg);
			right: 0;
			transform: rotate(90deg);
			background-position: center top;
			max-width: 225px;
			max-height: 225px;
			min-width: 110px;
			min-height: 110px;
		}
	}
}