/*-----------------------------------*\
	POST FOOTER
\*-----------------------------------*/
footer.post-footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	max-width: 90vw;
	margin: 0 auto;
	padding: 0 0 60px 0;
	position: relative;

	@media(--1050vp) {
		flex-wrap: nowrap;
		margin: 0 auto;
	}

	& .copyright {
		order: 1;
		width: 100%;

		@media(--800vp) {
			order: 0;
			width: auto;
		}
	}

	& p {
		margin: 0 0 2em 0;
		text-align: center;
		font-size: 0.875em;

		@media(--800vp) {
			text-align: left;
			margin: 0;
		}

		& a {
			padding: 0;
			background: transparent;
			color: var(--BlueDark);
			font-weight: bold;

			&:hover,
			&:focus {
				background: transparent;
				text-decoration: underline;
			}
		}
	}

	& .container {
		margin: 0 auto;

		@media(--500vp) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 0;
		}
	}

	& a.button {
		margin: 0 0 2em 0;
		display: block;

		@media(--500vp) {
			margin: 0 2em 2em 0;
		}

		@media(--800vp) {
			width: auto;
			display: inline-block;
			margin: 0 2em 0 0;
		}
	}

	& .social {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-around;
		margin-bottom: 2em;

		@media(--500vp) {
			justify-content: flex-start;
		}

		@media(--800vp) {
			margin-bottom: 0;
		}

		& a {
			margin: 0;

			@media(--500vp) {
				margin-right: 2em;
			}

			&.facebook:hover svg,
			&.facebook:focus svg {
				fill: #3c5a99;
			}

			&.twitter:hover svg,
			&.twitter:focus svg {
				fill: #1da1f2;
			}

			&.instagram:hover svg,
			&.instagram:focus svg {
				fill: #e1306c;
			}

			&.linkedin:hover svg,
			&.linkedin:focus svg {
				fill: #0077b5;
			}

			&.youtube:hover svg,
			&.youtube:focus svg {
				fill: #ff0000;
			}

			& svg {
				fill: var(--Grey);
				display: block;
				width: 1.5em;
				height: 1.5em;
				transition: all 0.15s linear;
			}
		}
	}
}

.dino-easter-egg {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;

	& svg {
		width: 80px;
		height: 80px;
		transform: translateY(74%);
		transition: all .35s ease-in-out
	}

	&:hover svg {
		transform: translateY(18%);
	}
}