/*-----------------------------------*\
	MEDIA QUERIES IN CORRECT ORDER
\*-----------------------------------*/
@custom-media --500vp (min-width: 500px);
@custom-media --800vp (min-width: 800px);
@custom-media --1050vp (min-width: 1050px);
@custom-media --1200vp (min-width: 1200px);

div {
	@media(--500vp) {
		box-sizing: inherit;
	}

	@media(--800vp) {
		box-sizing: inherit;
	}

	@media(--1050vp) {
		box-sizing: inherit;
	}

	@media(--1200vp) {
		box-sizing: inherit;
	}
}

/*-----------------------------------*\
	UNIVERSAL
\*-----------------------------------*/
html {
	box-sizing: border-box;
	background: var(--White);
	color: var(--BlueDark);
	font-size: 16px;
	font-family: 'Work Sans', sans-serif;
	line-height: 1.75;
	scroll-behavior: smooth;
}

html,
body {
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/*-----------------------------------*\
	WORDPRESS ADMIN BAR
\*-----------------------------------*/
.kaui-mini-toolbar #wpadminbar {
	top: 10%;
}

/*-----------------------------------*\
	SKIP NAV
\*-----------------------------------*/
#skip-to-content {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999999;
	transition: all 0.35s linear;
	transform: translateY(-100%);

	&:focus {
		transform: translateY(0);
	}
}

/*-----------------------------------*\
	E5 CREDIT
\*-----------------------------------*/
#element5-credit {
	position: relative;

	& a {
		position: absolute;
		bottom: 0;
		left: auto;
		transform: none;
		right: 5vw;

		@media(--800vp) {
			left: 50%;
			right: auto;
			transform: translateX(-50%);
		}

		& img {
			display: block;
		}
	}
}

/*-----------------------------------*\
	MAIN & ARTICLE
\*-----------------------------------*/
main {
	position: relative;

	&>article {
		margin: 4em auto;
		max-width: 90%;

		&>*:not(section) {
			margin-right: auto;
			margin-left: auto;
			max-width: 800px;
		}
	}
}