/*-----------------------------------*\
	VARIABLES
\*-----------------------------------*/
:root {
	--SmallWidth: 800px;
	--Width: 960px;
	--LargeWidth: 1200px;
	--LargeSpacing: 4em;
	--Spacing: 2em;
	--SmallSpacing: 1.5em;
	--White: #ffffff;
	--GreyLight: #eeeeee;
	--Grey: #A8A8A8;
	--GreyDark: #474747;
	--Black: #222222;
	--BlueLight: #3FA1F8;
	--Blue: #206EB3;
	--BlueDark: #021844;
	--Orange: #F2541D;
	--OrangeDark: #AC3309;
}