/*----------------------------------------------------------------*\
	CONFIRMATION TEMPLATE
\*----------------------------------------------------------------*/
body.page-template-confirmation {
	& header.post-head {
		min-height: 90vh;
		background-position: center left;
		padding-top: 20px;
		margin-bottom: 40px;

		@media(--500vp) {
			padding: 180px 5vw 80px 5vw;
		}

		& hr {
			margin: 20px 0 20px;
		}

		& p {
			color: var(--White);
		}
	}
}