/*----------------------------------------------------------------*\
	404 TEMPLATE
\*----------------------------------------------------------------*/
body.error404 {
	& nav.primary {
		& a.logo svg {
			fill: var(--BlueDark);
		}

		& p {
			color: var(--BlueDark);
		}
	}

	& header.post-head {
		background-color: var(--White);
		padding: 200px 5vw 150px;

		&>div>* {
			max-width: 100% !important;
		}

		& h1 {
			color: var(--BlueLight);
			text-align: center;
			position: relative;
			z-index: 2;
		}

		& img {
			max-width: 700px !important;
			margin: 0 auto -135px auto;
			display: block;
			position: relative;
			z-index: 0;
			top: -75px;
		}

		& a.button {
			display: table;
			margin: 0 auto;
			position: relative;
			z-index: 2;
			left: 6px;
		}
	}
}