/*----------------------------------------------------------------*\
	FRONT PAGE TEMPLATE
\*----------------------------------------------------------------*/
body.home {

	& header.post-head {
		min-height: 90vh;
		background-position: center left -30px;
		padding-top: 20px;

		@media(--500vp) {
			background-position: center left;
			padding: 180px 5vw 80px 5vw;
		}

		&>div>div {
			@media(--800vp) {
				max-width: 630px !important;
				float: right;
				clear: both;
			}
		}

		&>div>div>*:not(h1) {
			@media(--800vp) {
				max-width: 540px !important;
			}
		}

		& hr {
			margin: 20px 0 20px;
		}

		& p {
			color: var(--White);
		}

		& a.button {
			display: table;
			margin: 2em auto 0 auto;

			@media(--500vp) {
				display: none;
			}
		}
	}

	& article {
		max-width: 100%;
	}

	& hr {
		margin: 100px auto;
	}

	& section.experience {
		max-width: 960px;
		width: 90%;
		margin: 0 auto;

		& h2 {
			color: var(--BlueLight);
			font-size: 25px;
			line-height: 1.35;

			@media(--500vp) {
				font-size: 30px;
			}
		}

		& p {
			text-align: center;
			text-transform: uppercase;
			margin-top: 80px;
			font-size: 20px;
			font-family: IBM Plex Sans Semibold;
		}

		& .logos {
			& .logo {
				& img {
					max-width: 200px;
					width: 90%;
					height: auto;
					margin: 0 auto;
					filter: grayscale(100%);
				}
			}
		}
	}

	& section.contents {
		max-width: 90%;
		margin: 0 auto;

		& .wp-block-media-text.alignwide {
			max-width: 1200px;
			grid-template-areas: "media-text-media""media-text-content";
			grid-template-columns: 100%;

			@media(--800vp) {
				grid-template-areas: "media-text-media media-text-content";
				grid-template-columns: 40% 60%;

				&.has-media-on-the-right {
					grid-template-areas: "media-text-content media-text-media";
					grid-template-columns: 60% 40%;

					& .wp-block-media-text__content {
						padding: 0 8% 0 0;
					}
				}

				& .wp-block-media-text__content {
					padding: 0 0 0 8%;
				}
			}

			&.has-media-on-the-right {
				& figure {
					transform: translateX(5vw);

					@media(--800vp) {
						transform: none;
					}
				}
			}

			& .wp-block-media-text__content {
				grid-area: media-text-content;
				padding: 0;
			}

			& figure {
				grid-area: media-text-media;
				transform: translateX(-5vw);

				@media(--800vp) {
					transform: none;
				}

				&::after {
					display: none;
				}
			}

			& h2,
			& h3 {
				color: var(--BlueLight);

				@media(--800vp) {
					margin-top: 0;
				}
			}

			& p strong {
				font-size: 18px;
				font-family: IBM Plex Sans Semibold;

				@media(--500vp) {
					font-size: 20px;
				}
			}
		}
	}

	& section.expertise {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		margin-top: 300px;
		position: relative;

		&>div {
			max-width: 960px;
			width: 90%;
			margin-left: auto;
			margin-right: auto;
			padding: 1px;
			transform: translateY(-194px);
			z-index: 2;
			position: relative;

			@media(--500vp) {
				transform: translateY(-162px);
			}

			@media(--800vp) {
				transform: translateY(-218px);
			}

			& h2 {
				margin-top: 0;
				font-size: 64px;
				word-wrap: break-word;
				color: var(--BlueLight);

				@media(--500vp) {
					font-size: 80px;
				}

				@media(--800vp) {
					font-size: 110px;
				}
			}

			& p strong {
				font-size: 18px;
				font-family: IBM Plex Sans Semibold;

				@media(--500vp) {
					font-size: 20px;
				}
			}

			& p {
				max-width: 540px;
				color: var(--White);
			}
		}

		&::before,
		&::after {
			position: absolute;
			top: -2px;
			z-index: 1;
			display: block;
			min-width: 60px;
			max-width: 200px;
			width: 20vw;
			height: 20vw;
			min-height: 60px;
			max-height: 200px;
			background-image: url(../images/overlay_pixels_1.svg);
			background-position: bottom center;
			background-size: contain;
			background-repeat: no-repeat;
			content: '';
		}

		&::before {
			background-image: url(../images/overlay_pixels_1.svg);
			left: 0;
			transform: scaleX(-1) rotate(180deg);
		}

		&::after {
			background-image: url(../images/overlay_pixels_3.svg);
			right: 0;
			max-width: 100px;
			max-height: 100px;
			top: 100px;
		}
	}

	& section.contact {
		background: var(--BlueLight);
		padding: 50px 0;
		position: relative;

		&>div {
			max-width: 800px;
			width: 90%;
			margin-left: auto;
			margin-right: auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;

			&>div {
				width: 100%;

				@media(--500vp) {
					width: 48%;
				}

				&:first-child {
					position: relative;

					&::after {
						content: '';
						display: block;
						position: absolute;
						top: 50%;
						background-image: url(../images/cp_logo.svg);
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center;
						width: 100%;
						height: 100%;
						opacity: .35;
						transform: translateX(-50%) translateY(-64%);
						left: 50%;

						@media(--500vp) {
							left: 0;
							transform: translateX(-64px) translateY(-50%);
						}
					}
				}

				& h2 {
					font-size: 47px;
					margin: 0 0 1em 0;
					position: relative;
					z-index: 2;

					@media(--500vp) {
						font-size: 80px;
						margin: 0;
					}

					@media(--800vp) {
						font-size: 100px;
					}
				}

				& form {
					background-color: var(--White);
					padding: 2em 1em;

					@media(--500vp) {
						padding: 2em;
					}

					& li {
						margin: .25em auto;
					}

					& .gform_footer {
						text-align: right;
					}

					& button {
						border: 2px solid var(--BlueLight);
						border-radius: 0;
						background: transparent;
						color: var(--BlueLight);

						&:hover,
						&:focus {
							border-color: var(--Blue);
							background: var(--Blue);
							color: var(--White);
						}
					}
				}
			}
		}

		&::before,
		&::after {
			position: absolute;
			top: 0;
			z-index: 1;
			display: block;
			min-width: 60px;
			max-width: 175px;
			width: 20vw;
			height: 20vw;
			min-height: 60px;
			max-height: 175px;
			background-image: url(../images/overlay_pixels_1.svg);
			background-position: bottom center;
			background-size: contain;
			background-repeat: no-repeat;
			content: '';
		}

		&::before {
			background-image: url(../images/overlay_pixels_3_blue.svg);
			left: 100px;
			max-width: 100px;
			max-height: 100px;
			transform: rotate(90deg) translateX(-100%);
		}

		&::after {
			background-image: url(../images/overlay_pixels_2_blue.svg);
			right: 0;
			transform: translateY(-100%);
		}
	}
}