/*-----------------------------------*\
	PRIMARY NAVIGATION
\*-----------------------------------*/
nav.primary {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90vw;
	margin: 0 auto;
	position: absolute;
	left: 5vw;
	padding: 20px 0;
	z-index: 100;

	@media(--500vp) {
		justify-content: space-between;
		padding: 40px 0;
	}

	& a.logo {

		& svg {
			fill: var(--White);
			height: 60px;
			width: 222px;
		}
	}

	&>div {
		display: none;
		justify-content: flex-end;
		align-items: center;
		width: 660px;
		max-width: calc(100% - 300px);

		@media(--500vp) {
			display: flex;
		}

		@media(--1050vp) {
			justify-content: space-between;
		}

		& p {
			display: none;
			color: var(--White);

			@media(--1050vp) {
				display: block;
			}
		}

		& a.button {
			min-width: 236px;
		}
	}
}